:root {
  --light-background: #fff;
  --dark-background: #0d0d12;
  --primary-blue: #41a4df;
  --deep-blue: #297ee2;
}
:root {
  background-color: white;
}
.dark {
  background-color: var(--dark-background);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

* {
  font-size: 20px;
  font-weight: 400;
  color: #0d0d12;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  border-radius: 900px;
}

@media (max-width: 1035px) {
  .container {
    padding: 0 20px;
  }
}
