.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

* {
  font-size: 20px;
  font-weight: 400;
  color: #0d0d12;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  border-radius: 900px;
}
