.wrapper {
  position: relative;
  .image {
    position: absolute;
    border: 5px solid white;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
  }
  .image:hover {
    transform: translateY(-5px);
  }
}
