.header {
  margin-top: 40px;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 32px;
    }
  }
}
