.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  .hero_info {
    .info_title {
      max-width: 692px;
      font-size: 80px;
      font-style: normal;
      font-weight: 629;
      line-height: 110%; /* 88px */
      letter-spacing: -2.4px;
      margin-bottom: 32px;
    }

    .info_title span {
      font-size: 80px;
      font-style: normal;
      font-weight: 629;
      line-height: 110%;
      letter-spacing: -2.4px;
      color: #41a4df;
    }

    .info_description {
      margin-bottom: 32px;
    }
  }
}
