.large {
  padding: 18px 42px;
}

.small {
  padding: 12px 32px;
  font-size: 18px;
}

.primary {
  color: white;
  background: #41a4df;
  transition: 0.2s ease-in-out;
  border: none;
}

.primary:hover {
  background-color: #297ee2;
}

.secondary {
  color: #297ee2;
  background-color: rgba(41, 126, 226, 0.12);
  transition: 0.2s ease-in-out;
  border: none;
}

.secondary:hover {
  background-color: rgba(65, 164, 223, 0.16);
}
